
:root {
    --orange: orange;
    --black: black;
    --white: white;
  
  }

  /* header style */

.header {
    background-color: var(--black);
    padding-top: 15px;
    padding-bottom: 15px;
  }
 
.navbar {
    background-color: var(--black) !important;
    padding: 0;
  }

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.brandText {
    background: var(--white);
    padding-left: 25px;
    padding-right: 5px;
    border-bottom: 3px solid var(--orange);
    border-right: 2px solid var(--orange);
    font-size: 32px;
    color: var(--black);
    margin-left: 0;
}

.navText {
    color: var(--white);
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    border-bottom: 2px solid var(--orange);
}

.navText:hover {
    color: var(--orange);
}

  /* hero style */

.heroBackground {
    background-image: url("../assets/images/hero_bg_color.jpg");
    height: 300px;
    background-size: cover;
    background-position: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px !important;
}

.allGood {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 70px;
    color: var(--white) !important;
    font-size: 24px;
}

/* main section layout */

.page-wrapper {
    margin-top: 30px;
    margin-right: 60px;
    margin-bottom: 80px;
  }

.sectionTitle {
    text-align: right;
}

.titleContainer {
    padding-right: 5px;
    border-right: 2px solid var(--orange);
}

.card {
    border-width: 0px;
}

/* work section style */

.card-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 24px;
}

.card {
    flex: 1 0;
}

.card-img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.workContent {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
    align-content: end;
    top: auto;
}